/*
Agregando estilos:

Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más
*/

:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans' sans-serif;
}

.header-container {
    width: 100%;
    height: 320px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header-container .header-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-container .header-text .img, h3 {
    display: inline-block;
    font-size: 2.4rem;
    margin: 0 0 20px 0;
    color: #F7931A;
    font-weight: 700;
    line-height: 1.8rem;
}

.header-container .header-text h1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-container .header-text p {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 20px;
}

.header-container .header-text .btn {
    position: absolute;
    width: 230px;
    height: 48px;
    top: 225px;
    left: 15px;
    padding: 10px 15px;
    border: 1px solid;
    background-color: #FAF8F7;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}

.header-container .header-text .btn a {
    text-decoration: none;
    margin-right: 5px;
}

.container-main {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
}

.visibility {
    width: 100%;
    height: auto;
}

.container-img-bitcoin {
    width: 100%;
    height: auto;
    padding: 60px 0 30px 0;
}

.container-img-bitcoin img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

.container-text {
    width: 90%;
    margin: 0 auto;
}
.container-text .txt1 {
    font-size: 2.4rem;
    font-weight: 700;
    list-style: 2.6rem;
    text-align: center;
    color: var(--warm-black);
}

.container-text p {
    width: 90%;
    height: auto;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    text-align: center;
    padding-bottom: 30px;
}

.container-Product-feacture {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 60px;
}

.container-Product-feacture h4 {
    font-size: 1.8rem;
    line-height: 2.3px;
    color: #FF9536;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.container-Product-feacture .container-table {
    width: 100%;
    height: 133px;
    margin: 5px 10px 60px 10px;
    /*border: 1px solid #000;*/
    position: relative;
}

.container-Product-feacture .container-table span img {
    position: absolute;
    transform: rotate(180deg);
    top: 50%;
    left: -30px;
}
.container-Product-feacture .container-table span .derecha {
    position: absolute;
    transform: rotate(0);
    top: 50%;
    left: 240px;
}

.container-Product-feacture .container-table .container-lef {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    color: #B5B0AC;
}
.container-Product-feacture .container-table .container-rigth {
    position: absolute;
    width: 50%;
    height: auto;
    top: 0;
    left: 50%;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    color: #B5B0AC;
}

.container-Product-feacture .container-table .container-lef div {
    padding: 10px 5px;
    text-align: center;
}
.container-Product-feacture .container-table .container-rigth div {
    padding: 10px 5px;
    text-align: center;
}
